<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Nuevo Equipo</title>
</head>
<body>
    <h1>Nuevo Equipo</h1>
    <form method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre">
        <label for="modelo_id">Modelo:</label>
        <input type="text" name="modelo_id" id="modelo_id">
        <label for="categoria_id">Categoría:</label>
        <input type="text" name="categoria_id" id="categoria_id">
        <label for="costo">Costo:</label>
        <input type="text" name="costo" id="costo">
        <button type="submit">Crear</button>
    </form>
</body>
</html>
